<!DOCTYPE html>
<html>
<head>
<link href="../lib/ionic/css/angular-carousel.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="nemesis"  style = "text-align:center;">
    <div>
        <h1 style = "color: blue;" > Nemesis </h1>
    </div>

    <div> 
        <div class = "carousel" >
            <div ng-controller="mainctrl">
                <ul class = "carousel" rn-carousel rn-carousel-controls >
                    <li ng-repeat="image in images">
                        <img src= "{{image.photo}}"> 
                        <p> Nemesis's name: {{image.name}}</p>
                         <button ng-click= "do()"> 
                                Challenge!
                        </button>
                    </li>
                </ul>
            </div> 
         </div>
    </div>

   
    
   
<!-- DONT DELETE  -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script> -->
    <script type="text/javascript" src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-touch.js"></script>
    <script src="../lib/angular-carousel.js"></script>
    <script src="../js/App1.js"></script>
    
</body>
</html>